# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true


# Specific settings based on file extensions:

[*.{cs,js,ts}]
max_line_length = 160

[*.cs]
csharp_max_line_length = 160

[*.{cs,cake}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8

[*.{bicep,js,json,ts,jsx,tsx,yml,yaml,csproj,ps1}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
charset = utf-8

[*.md]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false
charset = utf-8

[*.feature]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8

[*.{xml,xsd}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
charset = utf-8

[*.{html,cshtm,puml}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8
