@if (Result.IsStarted)
{
    <div class="margin-bottom">
        Part @PartNum:
        @if (!Result.IsCompleted)
        {
            <div class="dim">Working...</div>
        }
        else
        {
            @if (Result.IsCompletedWithValue)
            {
                <pre>
                    <code class="hilight">
                        @(Result.Value)
                    </code>
                </pre>
            }

            @if (Result.IsCompletedWithoutValue)
            {
                <div class="emphasis">
                    Part @PartNum returned null / is not yet implemented
                </div>
            }

            <div class="dim">
                [Part @PartNum] time taken (seconds): @(Result.ElapsedTotalSeconds.ToString("0.000"))
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public int PartNum { get; set; }

    [Parameter]
    public Result Result { get; set; }
}
