@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ISolverFactory SolverFactory

<h1>
    <NavLink href="/">
        🎄 Shakey's AoC 2022 🌟
    </NavLink>
</h1>

@if (!NavigationManager.Uri.EndsWith("list"))
{
    <nav>
        @foreach (var (dayNumber, dayName) in SolverFactory.Solvers)
        {
            <NavLink key="@($"day-link-{dayNumber}")" title=@dayName href="@dayNumber">@dayNumber</NavLink>
        }
    </nav>
}

<main>
    @Body
</main>
