@page "/list"
@inject ISolverFactory SolverFactory

<PageTitle>List Days</PageTitle>

@foreach (var (dayNumber, dayName) in SolverFactory.Solvers.Where(x => !string.IsNullOrEmpty(x.DayName)))
{
    <div>
        <NavLink key="@($"day-link-{dayNumber}")" title=@dayName href="@dayNumber">
            Day @dayNumber: @dayName
        </NavLink>
    </div>
}
